/* Padding -> space between content and border */
div
{
    height: 150px;
    width: 150px;
    border: 5px solid rgb(100, 52, 52);
    background-color: pink;
    /* 
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px; 
    padding-left: 25px;*/
    /* Shorthand */

    /*padding: 25px;*/ /*all side 25px*/
    padding: 25px 20px 20px 25px; /*Top, Right, Bottom, Left*/


}