#box1
{
    height: 200px;
    width: 200px;
    background-color: green;
    color: white;
    font-size: 20px;
}

#box1:hover
{
    background-color: red;
}

#box1:active
{
    background-color: pink;
}