/* text-transform has values --> uppercase/ lowercase/ capitalize/ none */

#one
{
    font-size: 25px;
    text-transform: uppercase; /* can be used lowrcase here*/
}

#two
{
    font-size: 25px;
    text-transform: capitalize;
}