.container
{
    background-color: red;
    width: 60%;
    height: 40vh;
    display: flex;
    /* flex: auto auto auto; */
}

.box
{
    height: 50px;
    width: 50px;
    border: 5px solid black;
    flex-grow: 3;
}